.img-font {
    background: radial-gradient(ellipse at bottom, #1b2735 10%, #090a0f 100%);
    transition: .5s;
}



img {
    width: 100%;
}

.active {
    opacity: 1;
    filter: drop-shadow(0 0 13px #fff) drop-shadow(0 0 20px #fff);
    
  }

.hoverA:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff);
    transition: .3s;
}

.btn-a {
    background-image: linear-gradient(90deg,#842cd7,#21f5f1);
    border-radius: 8px;
    padding: 1px;
    box-shadow: 0 20px 40px rgba(132,44,215,.3)
}

.border-div {
    background-image: linear-gradient(90deg,#842cd7,#21f5f1);
    border-radius: 8px;
    padding: 1px;
    box-shadow: 0 20px 40px rgba(132,44,215,.3)
}

.btn-all {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    background-color: #0e1011;
    border-radius: 8px;
    transition: background-color .3s;
    display: flex;
    justify-content: center;
}

.bg-div {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    background-color: rgba(13,15,16,.9);
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.btn-all:hover {
    background-color: rgba(13,15,16,.9)
}

.content .content-info {
    opacity: 0;
    transition: opacity .3s;
}

.content:hover .content-info {
    opacity: 1;
}
